body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    /* background: #07051a;  */
    background-color: #e2efff;
}

/* body {
    background: 
      radial-gradient(rgb(77, 76, 76) 3px, transparent 3px),
      radial-gradient(rgb(99, 96, 96) 3px, transparent 3px),
      linear-gradient(#fff 4px, transparent 0),
      linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
      linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  } */

.logo{
    height: 300px;
    width: 300px;
    position: relative;
    top: 10%;
    left: 40%;
    padding: 5px;
} 

.logo2{
    height: 80px;
    width: 80px;
    position: absolute;
    top: 1%;
    left: 28%;
    padding: 5px;
}  

.myname{
    /* position: absolute;
margin-bottom: auto;
    left: 85%;
    padding: 5px;
    font-style: oblique;
    font-size: 20px; */
    position: fixed;
    left: 80%;
    bottom: 0;
    width: 100%;
    font-size: 15px;
}

.box {
    position: relative;
    background: rgb(255, 255, 255);
    color: #07051a;
    padding: 20px 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 800px;
    box-shadow: 5px 5px 20px rgb(117, 117, 117);
    display: inline-block;
}

.word-occ {
    font-size: 14px;
}

.result-text {
    font-size: 17px;
    color: rgb(95, 95, 95);

}

.show_cloud{
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bolder;
    /* color: blueviolet; */
    margin: 5px;
}


.source_link{
    color: #2782e9;
    font-style: italic;
}

strong{
    font-style: oblique;
    text-decoration: underline;
}


.app_form{
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid rgb(68, 68, 68);
    padding: 5px;
}


.result_form{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 500px;
    
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0px solid rgb(68, 68, 68);
    display: none;
    font-size: 20px;
    border-radius: 20px;
    padding: 0 20px;
}

.fas{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border: 2;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.app_form{
    width: 500px;
    cursor: pointer;
}

.app_form:hover input,
.app_form:valid input{
    display: block;
}

.app_form:hover .fas,
.app_form:valid .fas{
    background: #07051a;
    color: white;
}


.clear {
  display: none;
  position: absolute;
  top: 70px;
  bottom:0;
  left: 0;
  right: 0;
  font-size: 20px;
  font-weight: bold;
  color: rgb(145, 83, 3);
  text-align: center; 
  width: 100%;
}

.logo_text{
    position: relative;
    top: 20%;
    padding: 5px;
    color: rgb(32, 32, 32);
    text-align: center; 
    width: 100%; 
    font-weight: bolder;

}

.app_form:valid a {
  display: block;
}

.cloud-div {
    position: relative;
    top: 20%;
    left: 20%;
    width:60%;
    justify-content:center;
    text-align:center;
    background-color: white;
    box-shadow: 5px 5px 20px rgb(117, 117, 117);
    border-radius: 10px;                           
}

.cloud2-div {
    margin-top: 10px;
    padding: 15px;
    width:100%;
    justify-content:center;
    text-align:center;
    background-color: rgba(207, 229, 238,0.4);
    border: #2782e9;
    border-radius: 10px;   
    border-style: solid  ;
    display: none;     
}

.cloud-tag {
padding: 0;
padding-right: 5px;
vertical-align:center;
white-space: nowrap;
-webkit-text-stroke: 1px rgb(99, 96, 96);
}

.tag1{
    font-size: 14px;
}

.title{
    color: #0e55a7;
    font-weight: bold;
}

.spell_correct{
    font-size: 18px;
}

.spell_correct_res{
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}